html {
  background-color: #cdb2ea;
}

h1 {
  font-family: Papyrus;
}

h2 {
  font-family: Papyrus;
}

p {
  font-size: 20px;
  font-family: Papyrus;
  font-weight: bold;
  text-align: center;
}

h5 {
  text-align: center;
  font-family: Papyrus;
  font-size: 20px;
}

#menubar {
  background-color: #fffaf2;
  margin: auto;
  width: 85%;
  border-radius: 30px;

}

.T {
  font-family: Papyrus;
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}


#table1 {
  width: 80%;
  margin: auto;
}

#tem {
  width: 100px;
  height: 100px;
}

td {
  text-align: center;
}

hr {
  size: 1;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}

#cafe {
  display: inline-block;
  width: 864px;
  height: 600px;
  margin-left: 110px;
}

#Hoi {
  background-color: #fffaf2;
  width: 500px;
  display: inline-block;
  margin-left: 250px;
  border: 2px solid black;
}

#about {
  background-color: #fffaf2;
  margin: auto;
  width: 70%;

}

#temheart {
  margin-left: 500px;
  width: 341px;
  height: 359px;
}

#hours {
  background-color: #fffaf2;
  margin: auto;
  width: 50%;
  border: 2px solid black;
}
